{% extends "!page.html" %}

{% block body %}
{{ super() }}


{% if pagename != 'index' %}
  <!-- Comment Section Powered by utterances -->
<div id="comments">
  <hr />
  <p>If you want to report any issues with this tutorial, please comment below. (requires GitHub account)</p>
<script src="https://utteranc.es/client.js"
        repo="spatialthoughts/qgis-tutorials"
        issue-term="title"
        label="comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
</div>
{% endif %}
{% endblock %}
