{% extends "!page.html" %}

{% block body %}
{{ super() }}

<!-- Turn on comments on only newer tutorials having 3/ in URL -->
{% if '3/' in pagename %}
  <!-- Comment Section Powered by utterances -->
<div id="comments">
  <hr />
  <p>If you want to give feedback or share your experience with this tutorial, please comment below. (requires GitHub account)</p>
<script src="https://utteranc.es/client.js"
        repo="spatialthoughts/qgis-tutorials"
        issue-term="title"
        label="comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
</div>
{% endif %}
{% endblock %}
