{% extends "!page.html" %}

{% block body %}
{{ super() }}


{% if pagename != 'index' %}
  <div>If you liked tutorials on this site and do check out 
  <a href="http://spatialthoughts.com" target="_blank">spatialthoughts.com</a> for more free resources.
  </div>
  
  <div id="disqus_thread"></div>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}
{% endblock %}
