<?py # This templating langugage is pyTenjin ?>
<?py # http://www.kuwata-lab.com/tenjin/pytenjin-users-guide.html ?>

<?py if title: ?>

.. cssclass:: title

   #{title}

<?py #end ?>

.. cssclass:: subtitle

   QGIS Tutorials and Tips

.. raw:: pdf

   Spacer 0 3cm

.. image:: static/common/logo-200px.png

.. raw:: pdf

   Spacer 0 3cm


.. cssclass:: center

   Author
<?py for author in authors: ?>
.. cssclass:: author

   #{author}

.. cssclass:: author

   http://www.spatialthoughts.com

<?py #end ?>

.. raw:: pdf

   PageBreak oneColumn
